/* Style sheet for the Library App */

body {    
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

/* Header and Nav Bar */

header {
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    flex-direction: row;
    border-right: dotted black 0.5px;
}

#logo-icon {
    height: 40px;
    margin: 10px 15px;
}

#left-nav p {
    margin: 0;
    padding: 0;
    width: fit-content;
    align-self: center;
    margin-right: 10px;
}

#right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    padding-left: 15px;
    border-left: dotted black 0.5px;
}

#right-nav p {

}


/* Book DIV and everything inside */

#books-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: aquamarine;
    border-radius: 0% 10% 10% 10%;      
}

.book p {
    margin: 0;
    padding: 0;
    width: fit-content;
    align-self: center;
    margin-top: 10px;
}

.book-title {
    font-size: 30px;
    text-align: center;
    
}

.book-author {
    font-size: 20px;
    text-align: center;
}

.book-img {
    align-self: center;
    height: 150px;
    margin-top: 10px;
}




/* ------------------------------ */

#add-book-btn {
    width: 70px;
    height: 70px;
    margin: 40px;
    position: fixed;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    background-color: royalblue;
    font-size: 35px;
}
